body {
    background-color:lightgray;
    padding-top:50px
}

h1,h3{
     text-align: center;
}

img{
    position: relative;
    height: 150px;
    width: 200px;
    border-radius: 5%;
}

.maindiv{
    width: 100%;
    clear:both;
    position:relative;
}

.div-header {
    float: left;
    width: 100%;
    text-align: center;
    padding: 3px;
    margin: 1px;
    font-size:20px;
}

hr{
    clear:both;
}

.content{
    border-width: 2px;
    border-style:solid;
    border-color:black;
    width: 90%;
    padding: 10px;
    margin: 5px;
}

.hideDiv{
    display:none;
}

.codesnippet{
    background-color: #6495ed;
    margin-left: 150px;
    border-width: 2px;
    border-style:solid;
    border-color:black;
    width: 90%;
    padding: 10px;
    margin: 5px;
}

.table-bordered{
    border: 1px solid black;
}

.title, .plot, .poster{
    float:left;
    padding: 10px;
    margin: 5px;
    text-align: center;
}
