body {
    /*background-color:lightgray;*/
    padding-top:50px
}

h1,h3{
     text-align: center;
}

/*img{
    position: relative;
    height: 150px;
    width: 200px;
    border-radius: 5%;
}*/

.maindiv{
    width: 100%;
    clear:both;
    position:relative;
}

.div-header {
    float: left;
    width: 100%;
    text-align: center;
    padding: 3px;
    margin: 1px;
    font-size:20px;
}

hr{
    clear:both;
}

.hideDiv{
    display:none;
}

.table-bordered{
    border: 1px solid black;
}

/*.navbar>.container .navbar-brand{
  margin-left: 0;
}

.navbar-brand {
  padding: 0;
  margin:0;
}*/

.poster{
    float:left;
    padding: 10px;
    margin: 5px;
    text-align: center;
    position: relative;
    height: 150px;
    width: 200px;
    border-radius: 5%;
}


